:root {
  --green: #046b5e;
  --background: #fefefe;
  --text: #060f5c;
  --red: #d1391c;
}

body,
html {
  background: var(--background);
  user-select: none;
  font-size: 16px;
  text-align: center;
  font-family: monospace;
  color: var(--text);
}

h1 {
  font-size: 1.5rem;
}

.form {
  margin: 0 auto;
  max-width: 400px;
  text-align: left;
}

.form .base-result {
  padding: 10px;
  margin-top: 20px;
}

label {
  display: flex;
  padding: 5px;
}

label span {
  min-width: 150px;
}

@media (max-width: 650px) {
  label span {
    min-width: 80px;
  }
}

input {
  font-size: 1rem;
  flex: 1;
  overflow: hidden;
}

.base-result {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: var(--red);
  color: var(--background);
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.SUCCESS .base-result {
  background: var(--green);
  cursor: pointer;
}

ol {
  text-align: left;
  font-size: 1rem;
  user-select: text;
}

pre {
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px 50px;
  margin: 60px auto;
  max-width: 650px;
}

.grid .base-result {
  height: 36px;
}
